* {
  margin: 0;
  padding: 0;
  --dark: #00236d;
  --light: #5468b1;
  --white: #e5e5ec;
  --brown: #938288;
  --gray: #767682;
  font-family: "Inter", sans-serif;
}

/*phone styling*/
.nav {
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav img {
  height: 2em;
}

.nav li {
  font-weight: 400;
  font-size: 1.5em;
  list-style: none;
  display: inline;
  padding-right: 2em;
}

@media screen {
  /*tablet*/
  @media (min-width: 640px) {
  }

  /*laptop*/
  @media (min-width: 768px) {
  }
  /*desktop*/
  @media (min-width: 1024px) {
  }
}
