* {
  margin: 0;
  padding: 0;
  --dark: #00236d;
  --light: #5468b1;
  --white: #e5e5ec;
  --brown: #938288;
  --gray: #767682;
  font-family: "Inter", sans-serif;
}

/*phone styling*/

@media screen {
  /*tablet*/
  @media (min-width: 640px) {
  }

  /*laptop*/
  @media (min-width: 768px) {
  }
  /*desktop*/
  @media (min-width: 1024px) {
  }
}
